/*font*/
@font-face {
    font-family: 'Brush445';
    src: url('/assets/fonts/Brush445.otf') format('opentype'); /* Path ke font */
    font-weight: normal;
    font-style: normal;
}

/* Gaya untuk teks logo */
.logo-text {
    font-family: 'Brush445', cursive; /* Gunakan font kustom */
    font-size: 35px; /* Ukuran font */
    color: #df0303; /* Warna teks */
    letter-spacing: 1px; /* Spasi antar huruf */
}

/* --------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
    height: 90px;
    transition: all 0.5s;
    z-index: 997;
    background: #f2f2f2;
  }
  
  .header.sticked {
    height: 100px;
  }
  
  .header .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .header .logo h1 {
    font-size: 30px;
    font-weight: 700;
    /* color: var(--color-default);
    font-family: var(--font-primary); */
  }
